<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/global.css">
    <link rel="stylesheet" href="/static/css/home.css">
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/apexcharts/3.36.3/apexcharts.min.js" integrity="sha512-sa449wQ9TM6SvZV7TK7Zx/SjVR6bc7lR8tRz1Ar4/R6X2jOLaFln/9C+6Ak2OkAKZ/xBAKJ94dQMeYa0JT1RLg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script defer src = "/static/js/balanceChart.js"></script>
    <title>OneCard-Dashboard</title>
</head>
<body class="column-flex">
    <h1>OneCard Dashboard</h1>
    <section class="container" id="balances">
        <div id="chart">
        </div>
            <div class="balance-item">
                Standard: <b id="standard" style="color:lime">${{.Balances.StandardMealPlan}}</b>
            </div>
            <div class="balance-item">
                Plus: <b id="plus" style="color:lime">${{.Balances.PlusMealPlan}}</b>
            </div>
            <div class="balance-item">
                Flex: <b id="flex" style="color:lime">${{.Balances.Flex}}</b>
            </div>
    </section>
    <section class="container column-flex" id="transactions">
        <h2>Recent Transactions</h2>
        {{range $transaction := .Transactions}}
            <div id="transaction">
                <p id="transactionDate">{{$transaction.Date}}</p>
                <p id="transactionAmount" style="color:lime">${{$transaction.Amount}}</p>
                <p><i id="transactionLocation">{{$transaction.Location}}</i></p>    
            </div>
        {{end}}
    </section>
    <!-- Will eventually be populated with json stringified version of data -->
    <!-- <input type="hidden" value={.string} id="dataString">
    <script>
        (function populateLocalStorage(){
            const dataString = document.querySelector("#dataString").getAttribute("value");
            const userData = JSON.parse(dataString)
            for(k,v in userData){
                localStorage.setItem(k, v)
            }
        })();
    </script> -->
    <input type="hidden" value={{.Meta.StandardTotal}}>
</body>
</html>