*{
    margin: 0;
    padding: 0;
    border: none;
}

:root{
    font-family: sans-serif;
    --background-main-colour: #2a2a2c;
    --background-accent-colour: #333333;
    --accent-colour: #0081d6;
    --accent-darker-colour: #254dc8;
}

/*default styling for all pages*/
main{
    color: white;
    background-color: var(--background-main-colour);
    width: 100vw;
    overflow-x: hidden;
    
}

/* class so all buttons feel the same */
.button{
    font-size: 1rem;
    padding: 8px;
    box-sizing: border-box;
    background-color: var(--accent-colour);
    border: none;
    color: white;
    border-radius: 2px;
    font-size: 20px;
}

.button:hover{
    background-color: var(--accent-darker-colour);
}

.dollar-amount{
    color: lime;
}

@media (width >= 900px) {
    main{
        width: 100%
    }
}